<%= form_with(model: response_cancel) do |form| %>
  <% if response_cancel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(response_cancel.errors.count, "error") %> prohibited this response_cancel from being saved:</h2>

      <ul>
        <% response_cancel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :response, style: "display: block" %>
    <%= form.text_area :response %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :refund_information, style: "display: block" %>
    <%= form.text_area :refund_information %>
  </div>

  <div>
    <%= form.label :is_refunded, style: "display: block" %>
    <%= form.check_box :is_refunded %>
  </div>

  <div>
    <%= form.label :cancel_request_id, style: "display: block" %>
    <%= form.text_field :cancel_request_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
