<div id="<%= dom_id response_cancel %>">
  <p>
    <strong>Response:</strong>
    <%= response_cancel.response %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= response_cancel.date %>
  </p>

  <p>
    <strong>Refund information:</strong>
    <%= response_cancel.refund_information %>
  </p>

  <p>
    <strong>Is refunded:</strong>
    <%= response_cancel.is_refunded %>
  </p>

  <p>
    <strong>Cancel request:</strong>
    <%= response_cancel.cancel_request_id %>
  </p>

</div>
