<div id="<%= dom_id comment %>">
  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>

  <p>
    <strong>Punctuation:</strong>
    <%= comment.punctuation %>
  </p>

  <p>
    <strong>Is legal:</strong>
    <%= comment.is_legal %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= comment.room_id %>
  </p>

</div>
