<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #f4f4f4;
          margin: 0;
          padding: 0;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
      }

      .container {
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
          background-color: #ffffff;
          border-radius: 8px;
          overflow: hidden;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .header {
          background-color: #081424;
          padding: 20px;
          text-align: center;
          color: #ffffff;
      }

      .header img {
          max-width: 100px;
          margin-bottom: 10px;
      }

      .header h1 {
          margin: 0;
          font-size: 24px;
      }

      .content {
          padding: 20px;
      }

      .content h2 {
          font-size: 22px;
          color: #333333;
      }

      .content p {
          font-size: 16px;
          color: #666666;
          line-height: 1.5;
      }

      .response-details {
          margin: 20px 0;
          padding: 10px;
          background-color: #f8f8f8;
          border-radius: 8px;
          font-size: 16px;
          color: #333333;
      }

      .response-details h3 {
          margin-top: 0;
          font-size: 18px;
          color: #333333;
      }

      .footer {
          background-color: #081424;
          padding: 10px;
          text-align: center;
          color: #ffffff;
          font-size: 14px;
      }

      .footer a {
          color: #ffffff;
          text-decoration: none;
      }
  </style>
</head>
<body>
<div class="container">
  <div class="header">
    <%= image_tag 'https://hotelhubstorageaccount.blob.core.windows.net/hotelhubblobcontainer/logo.png', alt: 'Yiri Ca Logo', style: 'max-width: 100px;' %>
    <h1>Response to Your Cancellation Request</h1>
  </div>
  <div class="content">
    <h2>Hello <%= @user.name %> <%= @user.last_name %>,</h2>
    <p>We have processed your cancellation request for your reservation.</p>

    <div class="response-details">
      <p><strong>Response:</strong> <%= @response ? 'Accepted' : 'Not accepted' %></p>
      <p><strong>Date of Response:</strong> <%= @date %></p>
      <p><strong>Refund Information:</strong> <%= @refund_information %></p>
      <p><strong>Refund Status:</strong> <%= @is_refunded ? 'Refunded' : 'Not Refunded' %></p>
    </div>

    <p>If you have any further questions, feel free to contact our support team.</p>

    <p>
      Warm regards,<br>
      The Yiri Ca Team
    </p>
  </div>
  <div class="footer">
    <p>&copy; 2024 Yiri Ca. All rights reserved.</p>
    <p>
      <a href="https://www.yirica.com">Visit our website</a> |
      <a href="mailto:support@yirica.com">Contact Support</a>
    </p>
  </div>
</div>
</body>
</html>
