<div id="<%= dom_id cancel_request %>">
  <p>
    <strong>Reason:</strong>
    <%= cancel_request.reason %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= cancel_request.date %>
  </p>

  <p>
    <strong>Is confirmed:</strong>
    <%= cancel_request.is_confirmed %>
  </p>

  <p>
    <strong>Reservation:</strong>
    <%= cancel_request.reservation_id %>
  </p>

</div>
