<%= form_with(model: cancel_request) do |form| %>
  <% if cancel_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cancel_request.errors.count, "error") %> prohibited this cancel_request from being saved:</h2>

      <ul>
        <% cancel_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :reason, style: "display: block" %>
    <%= form.text_area :reason %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :is_confirmed, style: "display: block" %>
    <%= form.check_box :is_confirmed %>
  </div>

  <div>
    <%= form.label :reservation_id, style: "display: block" %>
    <%= form.text_field :reservation_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
