<div id="<%= dom_id bill %>">
  <p>
    <strong>Discount:</strong>
    <%= bill.discount %>
  </p>

  <p>
    <strong>Taxes:</strong>
    <%= bill.taxes %>
  </p>

  <p>
    <strong>Room price:</strong>
    <%= bill.room_price %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= bill.total %>
  </p>

  <p>
    <strong>Refund price:</strong>
    <%= bill.refund_price %>
  </p>

  <p>
    <strong>Reservation:</strong>
    <%= bill.reservation_id %>
  </p>

</div>
