<%= form_with(model: room_type) do |form| %>
  <% if room_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(room_type.errors.count, "error") %> prohibited this room_type from being saved:</h2>

      <ul>
        <% room_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.text_field :type %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :max_people, style: "display: block" %>
    <%= form.number_field :max_people %>
  </div>

  <div>
    <%= form.label :kids_accepted, style: "display: block" %>
    <%= form.check_box :kids_accepted %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
