<div id="<%= dom_id room_type %>">
  <p>
    <strong>Type:</strong>
    <%= room_type.type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= room_type.description %>
  </p>

  <p>
    <strong>Max people:</strong>
    <%= room_type.max_people %>
  </p>

  <p>
    <strong>Kids accepted:</strong>
    <%= room_type.kids_accepted %>
  </p>

</div>
