<p style="color: green"><%= notice %></p>

<%= render @reservation_room %>

<div>
  <%= link_to "Edit this reservation room", edit_reservation_room_path(@reservation_room) %> |
  <%= link_to "Back to reservation rooms", reservation_rooms_path %>

  <%= button_to "Destroy this reservation room", @reservation_room, method: :delete %>
</div>
