<div id="<%= dom_id reservation %>">
  <p>
    <strong>Checking date:</strong>
    <%= reservation.checking_date %>
  </p>

  <p>
    <strong>Checkout date:</strong>
    <%= reservation.checkout_date %>
  </p>

  <p>
    <strong>User notes:</strong>
    <%= reservation.user_notes %>
  </p>

  <p>
    <strong>Is refunded:</strong>
    <%= reservation.is_refunded %>
  </p>

  <p>
    <strong>Reservation state:</strong>
    <%= reservation.reservation_state_id %>
  </p>

</div>
