<div id="<%= dom_id room %>">
  <p>
    <strong>Usage amount:</strong>
    <%= room.usage_amount %>
  </p>

  <p>
    <strong>Adult price:</strong>
    <%= room.adult_price %>
  </p>

  <p>
    <strong>Kids price:</strong>
    <%= room.kids_price %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= room.number %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= room.location %>
  </p>

  <p>
    <strong>Room type:</strong>
    <%= room.room_type_id %>
  </p>

</div>
