<p style="color: green"><%= notice %></p>

<%= render @reservation_state %>

<div>
  <%= link_to "Edit this reservation state", edit_reservation_state_path(@reservation_state) %> |
  <%= link_to "Back to reservation states", reservation_states_path %>

  <%= button_to "Destroy this reservation state", @reservation_state, method: :delete %>
</div>
